article {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 20px;
}

h1#prueba1,h1#prueba2,h1#prueba3 {
    display: none; 
}


p {
    width: 100%;
    height: 50px; 
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
    line-height: 50px; 
}

/* Prueba 1: Tamaño mínimo de 900px */
@media screen and (min-width: 900px) {
    h1#prueba1 {
        display: block;
        font-weight: bold;
    }

    #box1 {
        background-color: rgba(0, 100, 0, 1);
        color: white;
    }

    #box2 {
        background-color: rgba(0, 200, 0, 0.8); 
        color: black;
    }

    #box3 {
        background-color: rgba(0, 255, 123, 0.5); 
        color: black;
    }
}

/* Prueba 2: Entre 600px y 900px */
@media screen and (min-width: 600px) and (max-width: 900px) {
    h1#prueba2 {
        display: block;
        font-weight: bold;
    }

    #box1 {
        background-color: rgba(139, 0, 0, 1); 
        color: white;
    }

    #box2 {
        background-color: rgba(255, 0, 0, 0.8); 
        color: black;
    }

    #box3 {
        background-color: rgba(255, 123, 123, 0.5); 
        color: black;
    }
}

/* Prueba 3: Tamaño máximo 600px */
@media screen and (max-width: 600px) {
    h1#prueba3 {
        display: block;
        font-weight: bold;
    }

    #box1 {
        background-color: blue;
        color: white;
    }

    #box2 {
        background-color: rgba(0, 0, 255, 0.64); 
        color: black;
    }

    #box3 {
        background-color: rgba(0, 123, 255, 0.302); 
        color: black;
    }
}
